.new-feed {

  .form {
    background: white;
    padding: 0 1rem;

  }

  .controls {
    display: inline-block;
  }

  .open, .cancel {
    display: none;
  }

  @media only screen and (max-width: 1024px) {
    .controls {
      display: block;
    }

    .form {
      display: none;
    }

    .open {
      display: block;

      button {
        margin: 0;
        width: 100%;
      }
    }

    .cancel {
      display: initial;
    }

    &--is-open {
      .form {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
      }

      .open {
        display: none;
      }
    }
  }
}
